/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
  .about_img img {
    width: 100%;
    max-width: 678px;
  }
  .work_box img {
    width: 100%;
    max-width: 407px;
  }
  .web .web_top_text .web_img img {
    width: 100%;
    max-width: 800px;
  }
}

@media only screen and (max-width: 1198px) {
  /**/
  .about .about_texts .about_top_text {
    padding: 130px 0 30px;
  }
  .about .about_texts .about_text {
    padding-bottom: 30px;
  }
  .phone {
    padding-left: 25px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  /**/
  .about .about_texts .about_top_text {
    padding: 120px 0 10px;
    font-size: 25px;
  }
  .about .about_texts .about_text {
    padding-bottom: 10px;
  }
  .works .wokr_top_text {
    font-size: 25px;
    padding: 20px 0 20px;
  }
  .skills .skills_top_text {
    font-size: 25px;
    padding-top: 20px;
  }
  .news .news_top_text {
    padding: 20px 0 20px;
    font-size: 25px;
  }
  .phone {
    padding-left: 0px;
  }
  .quote .quote_item .owl-carousel .quote_top_text {
    padding: 50px 0 50px;
  }
  .quote .quote_item .owl-carousel .owl-controls .owl-pagination .owl-page {
    margin: 50px 32px 100px 0;
  }
  .quote .quote_item .owl-carousel .owl-controls .active {
    margin: 50px 32px 100px 0;
  }
  .contact .contact_top_text {
    padding: 20px 0 20px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 866px) {
  /**/
  header .top_header .menu {
    position: relative;
  }
  header .top_header .menu ul {
    display: none;
    left: 0;
    top: 100px;
    position: absolute;
  }
  header .top_header .menu ul li {
    display: inline-block;
  }
  header .top_header .menu ul li a {
    padding: 10px 4px;
  }
  header .top_header .menu .btn_menu {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .news .news_box {
    text-align: center;
  }
  .news .news_box .col-md-12 .more {
    padding-bottom: 40px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 766px) {
  /**/
  .about .about_img img {
    margin: 20px 0;
  }
  .about .about_texts .about_top_text {
    padding: 10px 0 10px;
    font-size: 25px;
  }
  .about .about_texts .about_text {
    padding-bottom: 10px;
  }
  .about .about_texts .learn {
    padding-bottom: 20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
